

<div id="home_screen" class="container-fluid">
	<div >
		<BR/>
			<form>				
				<input type="text" id="searchText" class="form-control" placeholder="Search" ng-model="sq">
				<BR/>

				<button type="submit" class="btn btn-info btn-xs" ng-click="search()">Blasting Search</button>

			</form>
		
	</div>

	
	<hr/>

	<div>
		<div align='left' ng-if="resultSize > 0"> <a class="btn"> Results found <span class="badge"><B>{{resultSize}} </B> </span></a></div>
		
		
		<div align='right' ng-if="resultSize >0"> <a class="btn"> Responded in <Span class="badge"> {{responseTime}} </span> milliseconds </a> </div>

		<div ng-if="resultSize > 0">
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Path</th>
					<th>Open</th>
				</tr>
				<tbody>
					<tr ng-repeat="d in (FilteredItems=(searchResults | filter:searchText)).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
						
						<td>{{d.index}}</td>
						<td>{{d.id}}</td>
						<td><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button> </td>
					</tr>					
				</tbody>
			</table>
			
			<!-- Pagination goes here -->
			<div style="text-align: center">
				<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
			</div>

			<pre> View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> items per page. Page: {{currentPage}} / {{numPages}}</pre>
		</div>
			<!-- Type old
			<div> <center>
				<nav aria-label="Page navigation">
				  <ul class="pagination">
					<li>
					  <a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					  </a>
					</li>
					<li><a href="#">1</a></li>					
					<li>
					  <a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
				  </ul>
				</nav></center>-->
			</div> <!-- Pagination ends -->
		</div>
</div>
